body{
    background-color: burlywood;
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
}

h1, h2, p{
    text-align: center;
}

#menu{
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 10%;
    padding-right: 10%; */
    padding: 40px;
}

.flavor , .dessert{
    width: 49%;
    text-align: left;
}
.price{
    width: 50%;
    text-align: right;
}

.item p{
    display: inline-block;
}

.established{
    font-family: italic;
}

hr{
    height: 3px;
    background-color: rgba(39, 13, 61, 0.813);
    border-color: rgba(120, 74, 161, 0.813);
}

footer{
    font-size: 14px;
}
u{
    color: rgba(30, 0, 57, 0.799);
}
